body {
  min-width: 200px;
  max-width: 790px;
  margin: 0 auto;
  padding: 30px;
}
.markdown-body {
  font-size: 1em;
}
.markdown-body hr {
  height: 2px;
  margin: 4px 0;
}
.markdown-body h1 {
  font-size: 1.75em;
  margin: 0 0 8px 0;
}
.markdown-body h2 {
  font-size: 1.5em;
  margin: .8em 0;
}
.markdown-body h3 {
  font-size: 1.25em;
  margin-bottom: 4px;
}
.markdown-body blockquote {
  color: #000000;
}
@media print {
  body {
    max-width: 8.5in;
    padding: 0;
  }
  .markdown-body {
    font-size: 0.8em;
  }
  .markdown-body hr {
    height: 2px;
    margin: 2px 0;
  }
  .markdown-body h2 {
    margin: .5em 0;
  }
}
