<section class="container" data-ng-controller="???">
	<div class="row">
		<div class="col-sm-12">
			<h2>Services</h2>
			<hr />
			<form class="form-horizontal">
				<div class="form-group">
					<label for="Service__Installed_Date" class="control-label col-sm-2">Installed Date</label>
					<div class="col-sm-4"><input type="text" id="Service__Installed_Date" class="form-control" data-ng-model="model.Service.__Installed_Date" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Abandoned_Date" class="control-label col-sm-2">Abandoned Date</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" data-datepicker-popup="{{format}}" data-ng-model="model.Service.__Abandoned_Date" data-is-open="opened" data-datepicker-options="dateOptions" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
