<!--
section.container[data-ng-controller=???]>div.row>div.col-sm-12>h2{Services}+hr+form.form-horizontal
-->
<section class="container" data-ng-controller="???">
	<div class="row">
		<div class="col-sm-12">
			<h2>Services</h2>
			<hr />
			<form class="form-horizontal">
				<div class="form-group">
					<label for="Service__Line_Number" class="control-label col-sm-2">Service Line Number</label>
					<div class="col-sm-4"><input type="text" id="Service__Line_Number" class="form-control" data-ng-model="model.Service.__Line_Number" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Project_Number" class="control-label col-sm-2">Project Number</label>
					<div class="col-sm-4"><input type="text" id="Service__Project_Number" class="form-control" data-ng-model="model.Service.__Project_Number" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Above_Ground_Repair_Count" class="control-label col-sm-2">Above Ground Repair Count</label>
					<div class="col-sm-4"><input type="text" id="Service__Above_Ground_Repair_Count" class="form-control" data-ng-model="model.Service.__Above_Ground_Repair_Count" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Below_Ground_Repair_Count" class="control-label col-sm-2">Below Ground Repair Count</label>
					<div class="col-sm-4"><input type="text" id="Service__Below_Ground_Repair_Count" class="form-control" data-ng-model="model.Service.__Below_Ground_Repair_Count" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Contact_Name" class="control-label col-sm-2">Contact Name</label>
					<div class="col-sm-4"><input type="text" id="Service__Contact_Name" class="form-control" data-ng-model="model.Service.__Contact_Name" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Subdivision" class="control-label col-sm-2">Subdivision</label>
					<div class="col-sm-4"><input type="text" id="Service__Subdivision" class="form-control" data-ng-model="model.Service.__Subdivision" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Street_Name" class="control-label col-sm-2">Street Name</label>
					<div class="col-sm-4"><input type="text" id="Service__Street_Name" class="form-control" data-ng-model="model.Service.__Street_Name" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Cross_Street_Name" class="control-label col-sm-2">Cross Street Name</label>
					<div class="col-sm-4"><input type="text" id="Service__Cross_Street_Name" class="form-control" data-ng-model="model.Service.__Cross_Street_Name" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Legal_Address" class="control-label col-sm-2">Legal Address</label>
					<div class="col-sm-4"><input type="text" id="Service__Legal_Address" class="form-control" data-ng-model="model.Service.__Legal_Address" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Grid_Map_Number" class="control-label col-sm-2">Grid Map Number</label>
					<div class="col-sm-4"><input type="text" id="Service__Grid_Map_Number" class="form-control" data-ng-model="model.Service.__Grid_Map_Number" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Leak_Survey" class="control-label col-sm-2">Leak Survey</label>
					<div class="col-sm-4"><input type="text" id="Service__Leak_Survey" class="form-control" data-ng-model="model.Service.__Leak_Survey" /></div>
				</div>
				mdu-form-ddl
				<div class="form-group">
					<label for="Service__Stub_Length" class="control-label col-sm-2">Stub Length</label>
					<div class="col-sm-4"><input type="text" id="Service__Stub_Length" class="form-control" data-ng-model="model.Service.__Stub_Length" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Total_Length" class="control-label col-sm-2">Total Length</label>
					<div class="col-sm-4"><input type="text" id="Service__Total_Length" class="form-control" data-ng-model="model.Service.__Total_Length" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Estimated_Meter_Size" class="control-label col-sm-2">Estimated Meter Size</label>
					<div class="col-sm-4"><input type="text" id="Service__Estimated_Meter_Size" class="form-control" data-ng-model="model.Service.__Estimated_Meter_Size" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Estimated_Billing_Pressure" class="control-label col-sm-2">Estimated Billing Pressure</label>
					<div class="col-sm-4"><input type="text" id="Service__Estimated_Billing_Pressure" class="form-control" data-ng-model="model.Service.__Estimated_Billing_Pressure" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Estimated_Delivery_Pressure" class="control-label col-sm-2">Estimated Delivery Pressure</label>
					<div class="col-sm-4"><input type="text" id="Service__Estimated_Delivery_Pressure" class="form-control" data-ng-model="model.Service.__Estimated_Delivery_Pressure" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Old_Service_Line_Code" class="control-label col-sm-2">Old Service Line Code</label>
					<div class="col-sm-4"><input type="text" id="Service__Old_Service_Line_Code" class="form-control" data-ng-model="model.Service.__Old_Service_Line_Code" /></div>
				</div>
				<div class="form-group">
					<label for="Service__Estimated_BTU_Load" class="control-label col-sm-2">Estimated BTU Load</label>
					<div class="col-sm-4"><input type="text" id="Service__Estimated_BTU_Load" class="form-control" data-ng-model="model.Service.__Estimated_BTU_Load" /></div>
				</div>
				mdu-form-ddl
				mdu-form-checkbox
				mdu-form-checkbox
				mdu-form-checkbox
				mdu-form-checkbox
				mdu-form-checkbox
				mdu-form-checkbox
				mdu-form-checkbox
				<div class="form-group">
					<label for="Service__Notes" class="control-label col-sm-2">Notes</label>
					<div class="col-sm-4"><textarea name="" id="Service__Notes" rows="4" class="form-control" data-ng-model="model.Service.__Notes" placeholder="Add notes here."></textarea></div>
				</div>
				mdu-form-cancel-save
			</form>
		</div>
	</div>
</section>